{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows{% endblock %}
{% block content %}
<div class="row shows">
    {%for show,artist,venue in shows_artists_venues %}
    <div class="col-sm-4">
        <div class="tile tile-show">
            <img src="{{ artist.image_link }}" alt="Artist Image" />
            <h4>{{ show.date.strftime('%Y-%m-%d at %H:%M') }}</h4>
            <h5><a href="/artists/{{ artist.id }}">{{ artist.name }}</a></h5>
            <p>playing at</p>
            <h5><a href="/venues/{{ venue.id }}">{{ venue.name }}</a></h5>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}